<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.allured.test.lesson03.dao.RealEstateDAO">
 	<select id="selectRealEstate" resultType="com.allured.test.lesson03.model.RealEstate"
 	parameterType="int">
 		SELECT
 			`id`
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 			`id` = #{id}
 	</select>
 	
 	<select id="selectRealEstate2" resultType="com.allured.test.lesson03.model.RealEstate"
 	parameterType="int">
 		SELECT
 			`id`
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 		<![CDATA[`rentPrice` < #{rent}]]>
 	</select>
 	
 	<select id="selectRealEstate3" resultType="com.allured.test.lesson03.model.RealEstate"
 	parameterType="int">
 		SELECT
 			`id`
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 		<![CDATA[
 			`type` = "매매"
 		AND	
 			`area` >= #{area}
 		AND
 			`price` <= #{price}
 		]]>
 	</select>
 	
 	
 	<insert id="insertRealEstate" parameterType="com.allured.test.lesson03.model.RealEstate">
 		INSERT INTO `real_estate`
 		(
 			`realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `createdAt`
 			, `updatedAt`
 		) VALUES
 		(
 			#{realtorId}
 			, #{address}
 			, #{area}
 			, #{type}
 			, #{price}
 			, now()
 			, now()
 		)
 	</insert>
 	
 	<insert id="insertRealEstateFromField" parameterType="map">
 		INSERT INTO `real_estate`
 		(
 			`realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		) VALUES
 		(
 			#{realtorId}
 			, #{address}
 			, #{area}
 			, #{type}
 			, #{price}
 			, #{rentPrice}
 			, now()
 			, now()
 		)
 	</insert>

 </mapper>