#header-logo {
	color: black;
	text-decoration: none;
}

nav {
	background-color: #f5b042;
}

nav > ul > li > a {
	font-size: 20px;
}

.left-article{
	background-color: #994412;
	height: 300px;
	width: 400px;
}

.center-article {
	background-color: #cf6a30;
	height: 300px;
	width: 500px;
}

.right-article {
	background-color: #994412;
	height: 300px;
	width: 300px;
}

.member-input {width:600px}
.input-label {width:90px}
.text-input {width:300px !important;}